@use "sass:map";

$md-breakpoints: (
  xs: 0px,
  sm: 600px,
  md: 905px,
  lg: 1240px,
  xl: 1440px
);

@mixin respond-to($breakpoint) {
  $value: map.get($md-breakpoints, $breakpoint);
  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in $md-breakpoints.";
  }
}

@mixin respond-below($breakpoint) {
  $value: map.get($md-breakpoints, $breakpoint);
  @if $value {
    $max-width: $value - 1px;
    @media (max-width: $max-width) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in $md-breakpoints.";
  }
}
